# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.log
.setting
.project
target/
rebel.xml
.rebel-remote.xml.bak
cpjar
logs/
log/
*.log
*.ipr
*.iws
.DS_Store
